ioc_name: {{iocname}}
description:  POLYSCIENCE CHILLER TEMPLATE

entities:
{%- if devices is defined and devices %}
  {%- for dev in devices %}
- type: polyscience.CreateCtrl
  name: "PORT_{{dev.name | default('POLYSCI01')}}"
  IP: {{dev.server | default(server)}}
  TCPPORT: {{dev.port | default(4001)}}
  P: "{{iocprefix}}:{{dev.name}}"
  {%- endfor %}
{%- else %}
- type: polyscience.CreateCtrl
  name: "POLYSCI01"
  IP: {{server}}
  TCPPORT: {{port | default(4001) }}
  P: "{{iocprefix}}:{{iocroot}}"
{%- endif %}

{%- if aliases is defined and aliases %}
- type: epics.StartupCommand
  command: |
  {%- for param in aliases %}
    alias("{{iocprefix}}:{{name}}:{{param.name}}","{{param.alias}}")
  {%- endfor %}

{%- endif %}

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
    dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}

  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}
