ioc_name: {{iocname}}
description: Caenels template {{devtype}}

entities:
{%- for alim in devices %}
  - type: caenels.{{devtype}}
    P: "{{iocprefix}}:" 
    R: "{{alim.name}}:"
    IP: {{alim.ip}}
    TCPPORT: {{alim.port | default(10001)}}
{%- if devtype == "fastps" %}
    rangeI: {{alim.rangeI | default(30)}}
    rangeV: {{alim.rangeV | default(20)}}
{%- else %}
    range: {{alim.range | default(30)}}
{%- endif %}
    OMAX: {{alim.omax | default(0)}}
    IMAX: {{alim.imax | default(0)}}
{%- endfor %}


{%- for dev in devices %}

{%- for param in dev.aliases %}
  - type: epics.DbAlias
    name: "{{iocprefix}}:{{iocroot}}:{{param.name}}"
    alias: "{{iocprefix}}:{{iocroot}}:{{param.alias}}"
{%- endfor %}
{%- endfor %}
  

  - type: epics.PostStartupCommand 
    command: |
  {%- for param in iocinit %}
      dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
      dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}