ioc_name: {{ iocname }}
description: SRS DG535 delay generator on NI GPIB-ENET/1000 TEMPLATE

entities:
- type: srsDG535.niEnetPort
  NAME: "GPIB0"
  IP: "{{ server }}"
  BOARD_PAD: {{ board_pad | default(0) }}
{%- for device in devices %}
{%- set labels = device.channels | default({}) %}
- type: srsDG535.DG535
  PORT: "GPIB0"
  P: "{{ iocprefix }}"
  R: "{{ device.name }}"
  ADDR: {{ device.addr | default(15) | int }}
  SCAN: "{{ device.scan | default(scan) | default('2 second') }}"
  SCAN_CFG: "{{ device.scan_cfg | default(scan_cfg) | default('10 second') }}"
  T0_LABEL: {{ (labels.T0 | default('T0')) | tojson }}
  A_LABEL: {{ (labels.A | default('A')) | tojson }}
  B_LABEL: {{ (labels.B | default('B')) | tojson }}
  AB_LABEL: {{ (labels.AB | default('AB')) | tojson }}
  C_LABEL: {{ (labels.C | default('C')) | tojson }}
  D_LABEL: {{ (labels.D | default('D')) | tojson }}
  CD_LABEL: {{ (labels.CD | default('CD')) | tojson }}
{%- endfor %}

- type: epics.PostStartupCommand
  command: |
    epicsThreadSleep 1.0
{%- if iocexit %}
    dbl
    exit
{%- else %}
    dbl("*") > {{ config_dir }}/pvlist.txt
    dbl
{%- endif %}
