
ioc_name: {{iocname}}
description:  CHILLER TEMPLATE

entities:

- type: smc.CreateCtrl
  name: "CHILLER01"
  IP: {{server}}
  TCPPORT: {{port | default(4001) }}
  P: "{{iocprefix}}:{{iocroot}}"
  DEV_ID: "{{dev_id | default("01")}}"

{%- if aliases is defined and aliases %}

- type: epics.StartupCommand
    command: |
    {%- for param in aliases %}
      alias("{{iocprefix}}:{{name}}:{{param.name}}","{{param.alias}}")
    {%- endfor %}
{%- endif %}

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}