# yaml-language-server: $schema=https://github.com/epics-containers/ibek/releases/download/3.1.2/ibek.support.schema.json
ioc_name: {{iocname}}
description: Scandinova RF Modulator Template - Lite Version

entities:

{%- for modulator in devices %}
- type: scandinova-scandicat-mod.RFModulator
  name: "{{modulator.name | default('RFMod_' ~ loop.index0)}}"
  P: "{{iocprefix}}:{{modulator.name}}"
  SLAVE_ADDR: {{modulator.SLAVE_ADDR | default(SLAVE_ADDR | default(1))}}
  IP: {{modulator.server | default(server)}}
  TCPPORT: {{modulator.port | default(port | default(502))}}
  POLLING: {{modulator.polling | default(POLLING | default(2000))}}
  WD_POLLING: {{modulator.wd_polling | default(WD_POLLING | default(1000))}}
  WD_WRITE_POLLING: {{modulator.wd_write_polling | default(WD_WRITE_POLLING | default(800))}}
  CCPS_V_SP_HOPR: {{modulator.v_max | default(v_max | default(1270))}}
  PLS_WDTH_SP_HOPR: {{modulator.pls_width_max | default(pls_width_max | default(5))}}
  FILPS_CURR_SP_HOPR: {{modulator.i_max | default(i_max | default(30))}}
  IONPMP_HIGH: {{modulator.pres_warn | default(pres_warn | default(8000))}}
  IONPMP_HIHI: {{modulator.pres_alarm | default(pres_alarm | default(9000))}}

{%- endfor %}


{%- if aliases is defined %}
- type: epics.StartupCommand
  command: |
  {%- for param in aliases %}
    alias("{{iocprefix}}:{{param.name}}","{{param.alias}}")
  {%- endfor %}
{%- endif %}

{%- for modulator in devices %}
{%- if modulator.aliases is defined %}
- type: epics.StartupCommand
  command: |
  {%- for param in modulator.aliases %}
    alias("{{iocprefix}}:{{modulator.name}}:{{param.name}}","{{param.alias}}")
  {%- endfor %}
{%- endif %}
{%- endfor %}

- type: epics.StartupCommand
    command: |
      dbLoadRecords("config/epik8s-version.db","")

- type: epics.PostStartupCommand 
  command: |
  {%- if iocinit is defined %}
  {%- for param in iocinit %}
    dbpf ("{{iocprefix}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endif %}
  {%- for modulator in devices %}
  {%- if modulator.iocinit is defined %}
  {%- for param in modulator.iocinit %}
    dbpf ("{{iocprefix}}:{{modulator.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endif %}
  {%- endfor %}
  {%- if iocexit %}
    dbl
    exit
  {%- else %}
    dbl("*") > {{config_dir | default('/epics/iocs')}}/pvlist.txt           ## dumps PV NAMES
    dbl
  {%- endif %}
