
# yaml-language-server: $schema=https://github.com/epics-containers/ibek/releases/download/3.1.2/ibek.support.schema.json
ioc_name: {{iocname}}
description:  Agilent VAC TEMPLATE

entities:


{%- if devtype == "xgs600" %}
- type: agilent.{{devtype}}.controller
  name: AGILENT001
  IP: {{server}}
  TCPPORT: {{port}}
  P: "{{iocprefix}}"
{%- for t in devices %}
{%- if t.devtype == "img" %}
- type: agilent.xgs600.imgsensor
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
  tcauto: {{ t.tcauto }}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{t.name}}:PRES"
  alias: "{{iocprefix}}:{{t.name}}:PRES_RB"
{%- endif %}
{%- if t.devtype == "cnv" %}
- type: agilent.{{devtype}}.cnvsensor
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{t.name}}:PRES"
  alias: "{{iocprefix}}:{{t.name}}:PRES_RB"
{%- endif %}
{%- if t.devtype == "setpoint" %}
- type: agilent.{{devtype}}.setpoint
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
  number: {{ t.number }}
{%- endif %}
{%- endfor %}

## pumps
{%- else %}
- type: agilent.{{devtype}}.controller
  name: AGILENT_PUMP
  IP: {{server}}
  TCPPORT: {{port}}
  P: "{{iocprefix}}"
{%- for t in devices %}
- type: agilent.{{devtype}}.pump
  controller: AGILENT_PUMP
  name: "{{ t.name }}"
  channel: {{ t.channel }}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{t.name}}:PRES"
  alias: "{{iocprefix}}:{{t.name}}:PRES_RB"
{%- endfor %}
{%- endif %}




{%- for dev in devices %}

{%- for param in dev.aliases %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:{{param.name}}"
  alias: "{{iocprefix}}:{{iocroot}}:{{param.alias}}"
{%- endfor %}
{%- endfor %}

    
- type: epics.PostStartupCommand 
  command: |
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
  dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}