
ioc_name: {{iocname}}
description: bilttest template

entities:

  - type: biltItest.configure
    controllerName: BILT_CTRL_PORT
    P: {{iocprefix}}
    IP: {{server}}
    TCPPORT: {{port | default(5025) }}

{%- for t in devices %}
  - type: biltItest.device
    controller: BILT_CTRL_PORT
    P: "{{ t.name }}"
    id: {{ t.channel }}
    max: {{ t.max | default(10)}}
{%- endfor %}

  - type: epics.PostStartupCommand 
    command: |
    {%- for dev in devices %}
    {%- for param in dev.iocinit %}
    dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
    {%- endfor %}
    {%- endfor %}
    {%- if iocexit %}
        dbl
        exit
    {%- else %}
        dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
        dbl
    {%- endif %} 