ioc_name: {{iocname}}
description:  ICPDAS TEMPLATE


entities:

- type: icpdas.{{devtype}}
  NAME: "ICP-{{server}}"
  IP: {{server}}
  TCPPORT: {{port |default(502)}}
  P: "{{iocprefix}}"
  R: "{{iocroot}}"
  POLL_DELAY: {{polldelay | default(1000)}}
  TIMEOUT: {{timeout | default(2000)}}


{%- for dev in devices %}
{%- if dev.devtype == "rtd" %}
- type: icpdas.rtd
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Temperature sensor" }}"
  channel: {{dev.channel}}
  ASLO: {{dev.aslo if dev.aslo is defined else 0.0183112}}
  AOFF: {{dev.aoff if dev.aoff is defined else 0.0}}
  LOLO: {{ dev.lolo if dev.lolo is defined else -100 }}
  LOW: {{ dev.low if dev.low is defined else 0 }}
  HIGH: {{ dev.high if dev.high is defined else 80 }}
  HIHI: {{ dev.hihi if dev.hihi is defined else 100 }}
{%- endif %}

{%- if dev.devtype == "di" %}
- type: icpdas.di
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Digital Input" }}"
  channel: {{dev.channel}}
{%- endif %}

{%- if dev.devtype == "do" %}
- type: icpdas.do
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Digital Output" }}"
  channel: {{dev.channel}}
{%- endif %}

{%- if dev.devtype == "ai" %}
- type: icpdas.ai
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Analog Input" }}"
  channel: {{dev.channel}}
  maxscale: {{dev.maxscale if dev.maxscale is defined else 10.0}}
{%- endif %}

{%- if dev.devtype == "ao" %}
- type: icpdas.ao
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Analog Output" }}"
  channel: {{dev.channel}}
  maxscale: {{dev.maxscale if dev.maxscale is defined else 10.0}}

{%- endif %}

{%- if dev.devtype == "rly" %}
- type: icpdas.rly
  icpctrl: "ICP-{{server}}"
  DESC: "{{dev.desc if dev.desc is defined else "Analog Output" }}"
  channel: {{dev.channel}}

{%- endif %}
{%- endfor %}


{%- for dev in devices %}

{%- if dev.devtype == "rly" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:RLY_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:RLY_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_SP"
{%- endif %}

{%- if dev.devtype == "rtd" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RTD{{dev.channel}}:TEMP_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:TEMP_RB"
{%- endif %}

{%- if dev.devtype == "di" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DI{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:DI_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DI{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DI{{dev.channel}}_CNT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:DI_CNT_RB"
{%- endif %}

{%- if dev.devtype == "do" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:DO_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:DO_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"

{%- endif %}

{%- if dev.devtype == "ai" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AI{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:AI_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AI{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:VOLT_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AI{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
{%- endif %}

{%- if dev.devtype == "ao" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:VOLT_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:AO_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:VOLT_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}:AO_RB"
{%- endif %}
{%- endfor %}

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}