ioc_name: {{iocname}}
description:  ICPDAS TEMPLATE


entities:

- type: icpdas.{{devtype}}
  NAME: ICPDAS001
  IP: {{server}}
  TCPPORT: {{port |default(502)}}
  P: "{{iocprefix}}"
  R: "{{iocroot}}"
{%- for t in devices %}

{%- if devtype == "icp7215" %}
- type: icpdas.icp7215temp
  icpctrl: ICPDAS001
  ID: {{ t.name }}
  DESC: "{{t.desc if t.desc is defined else "Temperature sensor" }}"
  REGOFFSET: {{t.idx}}
  ASLO: {{t.aslo if t.aslo is defined else 0.0183112}}
  LOLO: {{ t.lolo if t.lolo is defined else -100 }}
  LOW: {{ t.low if t.low is defined else 0 }}
  HIGH: {{ t.high if t.high is defined else 80 }}
  HIHI: {{ t.hihi if t.hihi is defined else 100 }}
  NELM: 10 ## history
{%- else %}
- type: icpdas.{{t.devtype}}
  icpctrl: ICPDAS001
  name: {{ t.name }}
  channel: {{ t.channel}}
{%- endif %}
{%- endfor %}


{%- for dev in devices %}
{%- if dev.devtype == "rly" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:RLY{{dev.channel}}_SP"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_SP"
{%- endif %}

{%- if dev.devtype == "di" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DI{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DI{{dev.channel}}_CNT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_CNT_SP"
{%- endif %}

{%- if dev.devtype == "do" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:DO{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
{%- endif %}

{%- if dev.devtype == "ai" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AI{{dev.channel}}_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_RB"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AI{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_VOLT_RB"
{%- endif %}

{%- if dev.devtype == "ao" %}
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT"
  alias: "{{iocprefix}}:{{dev.name}}_VOLT_SP"
- type: epics.DbAlias
  name: "{{iocprefix}}:{{iocroot}}:AO{{dev.channel}}:VOLT_RB"
  alias: "{{iocprefix}}:{{iocroot}}:{{dev.name}}_VOLT_RB"
{%- endif %}
{%- endfor %}

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}