# yaml-language-server: $schema=https://github.com/epics-containers/ibek/releases/download/3.1.2/ibek.support.schema.json
ioc_name: {{iocname}}
description: BTF PTU TEMPLATE

entities:
- type: PTUControl.meteo
  name: "{{name | default('PTU_' ~ iocprefix)}}"
  P: "{{iocprefix}}"
  hubAddress: "{{server}}:{{port | default(4444)}}"
  serialNumber: "{{serial}}"
  pollPeriod: {{pollperiod | default(2.0)}}

- type: epics.PostStartupCommand
  command: |
  {%- if iocexit %}
    dbl
    exit
  {%- else %}
    dbl("*") > {{config_dir | default('/epics/iocs')}}/pvlist.txt
    dbl
  {%- endif %}