ioc_name: {{iocname}}
description: Motor template {{devtype}}
{%- set motor = motor | default({}, true) %}
{%- set devices = devices | default([], true) %}


{%- if devtype == "pollux" %}
entities:

  - type: micos.pollux
    controllerName: "{{devtype}}_001"
    P: "{{iocprefix}}:{{iocroot}}"
    IP: "{{server}}"
    TCPPORT: {{port}}
    numAxes: {{devices | length}}
    mapAxes: "{% for dev in devices %}{{ dev.axid }}{% if not loop.last %},{% endif %}{% endfor %}"
    EGUXSTEP: "{{ eguxstep | default(0.00005, true) }}"
    debug: {{ debug | default(1, true) }}

  {% for mot in devices %}
  - type: micos.axis
    controller: "{{devtype}}_001"
    M: ":{{mot.name}}"
    ADDR: {{loop.index0}}
    {%- if mot.dllm is defined %}
    DLLM: {{mot.dllm}}
    {%- else %}
    DLLM: {{ dllm | default(0, true) }}
    {%- endif %}
    {%- if mot.dhlm is defined %}
    DHLM: {{mot.dhlm}}
    {%- else %}
    DHLM: {{ dhlm | default(0, true) }}
    {%- endif %}
    {%- if mot.home is defined %}
    home: {{mot.home}}
    {%- else %}
    home: {{ home | default(1, true) }}
    {%- endif %}
    
    {%- if mot.velo is defined %}
    VELO: {{mot.velo}}
    {%- else %}
    VELO: {{ velo | default(3, true) }}
    {%- endif %}
    {%- if mot.desc is defined %}
    DESC: {{mot.desc}}
    {%- else %}
    DESC: "Axis {{mot.name}} {{mot.axid}}"
    {%- endif %}
    {%- if mot.dir is defined %}
    DIR: {{mot.dir}}
    {%- else %}
    DIR: {{ dir | default('Pos', true) }}
    {%- endif %}
    {%- if mot.egu is defined %}
    EGU: "{{mot.egu}}"
    {%- else %}
    EGU: {{ egu | default("mm", true) }}
    {%- endif %}
    {%- if mot.vbas is defined %}
    VBAS: {{mot.vbas}}
    {%- else %}
    VBAS: {{ vbas | default(0.2, true) }}
    {%- endif %}
    {%- if mot.accl is defined %}
    ACCL: {{mot.accl}}
    {%- else %}
    ACCL: {{ accl | default(0.5, true) }}
    {%- endif %}
    {%- if mot.bdst is defined %}
    BDST: {{mot.bdst}}
    {%- else %}
    BDST: {{ bdst | default(0, true) }}
    {%- endif %}
    {%- if mot.bvel is defined %}
    BVEL: {{mot.bvel}}
    {%- else %}
    BVEL: {{ bvel | default(0.5, true) }}
    {%- endif %}
    {%- if mot.bacc is defined %}
    BACC: {{mot.bacc}}
    {%- else %}
    BACC: {{ bacc | default(2, true) }}
    {%- endif %}
    {%- if mot.mres is defined %}
    MRES: {{mot.mres}}
    {%- else %}
    MRES: {{ mres | default(1, true) }}
    {%- endif %}
    {%- if mot.prec is defined %}
    PREC: {{mot.prec}}
    {%- else %}
    PREC: {{ prec | default(2, true) }}
    {%- endif %}
    
  {% endfor %}
{%- endif %}

{%- if devtype == "newport" %}
entities:

  - type: motorNewport.SMC100CreateController
    controllerName: "{{devtype}}_{{server}}"
    P: "{{iocprefix}}:{{iocroot}}"
    IP: {{server}}
    TCPPORT: {{port}}
    numAxes: {{devices | length}}
    EGUXSTEP: "{{ motor.eguxstep | default(0.00005, true) }}"

  {% for mot in devices %}
  - type: motorNewport.motorAxis
    controller: "{{devtype}}_{{server}}"
    M: ":{{mot.name}}"
    ADDR: {{mot.axid}}
    {%- if mot.dllm is defined %}
    DLLM: {{mot.dllm}}
    {%- else %}
    DLLM: {{ motor.dllm | default(0, true) }}
    {%- endif %}
    {%- if mot.dhlm is defined %}
    DHLM: {{mot.dhlm}}
    {%- else %}
    DHLM: {{ motor.dhlm | default(0, true) }}
    {%- endif %}
    {%- if mot.home is defined %}
    home: {{mot.home}}
    {%- else %}
    home: {{ motor.home | default(1, true) }}
    {%- endif %}
    {%- if mot.start is defined %}
    start: {{mot.start}}
    {%- else %}
    start: {{ motor.start | default(10, true) }}
    {%- endif %}
    {%- if mot.velo is defined %}
    VELO: {{mot.velo}}
    {%- else %}
    VELO: {{ motor.velo | default(1, true) }}
    {%- endif %}
    {%- if mot.desc is defined %}
    DESC: {{mot.desc}}
    {%- else %}
    DESC: "Axis {{mot.name}} {{mot.axid}}"
    {%- endif %}
    {%- if mot.dir is defined %}
    DIR: {{mot.dir}}
    {%- else %}
    DIR: {{ motor.dir | default('Pos', true) }}
    {%- endif %}
    {%- if mot.egu is defined %}
    EGU: "{{mot.egu}}"
    {%- else %}
    EGU: {{ motor.egu | default("mm", true) }}
    {%- endif %}
    {%- if mot.vbas is defined %}
    VBAS: {{mot.vbas}}
    {%- else %}
    VBAS: {{ motor.vbas | default(0.2, true) }}
    {%- endif %}
    {%- if mot.accl is defined %}
    ACCL: {{mot.accl}}
    {%- else %}
    ACCL: {{ motor.accl | default(0.2, true) }}
    {%- endif %}
    {%- if mot.bdst is defined %}
    BDST: {{mot.bdst}}
    {%- else %}
    BDST: {{ motor.bdst | default(0, true) }}
    {%- endif %}
    {%- if mot.bvel is defined %}
    BVEL: {{mot.bvel}}
    {%- else %}
    BVEL: {{ motor.bvel | default(0.5, true) }}
    {%- endif %}
    {%- if mot.bacc is defined %}
    BACC: {{mot.bacc}}
    {%- else %}
    BACC: {{ motor.bacc | default(0.2, true) }}
    {%- endif %}
    {%- if mot.mres is defined %}
    MRES: {{mot.mres}}
    {%- else %}
    MRES: {{ motor.mres | default(0.00001, true) }}
    {%- endif %}
    {%- if mot.prec is defined %}
    PREC: {{mot.prec}}
    {%- else %}
    PREC: {{ motor.prec | default(6, true) }}
    {%- endif %}
    
  {% endfor %}
{%- endif %}

{%- if devtype == "tml" %}
shared:
  - &motor
    type: motorTML.motorAxis
    controller: {{devtype}}_001
    NSTEPS: {{ motor.nsteps | default(200, true) }}
    NMICROSTEPS: {{ motor.nmicrosteps | default(256, true) }}
    VELO: {{ motor.velo | default(20, true) }} 
    VELO_MAX: {{ motor.velo_max | default(50, true) }}
    VELO_MIN: {{ motor.velo_min | default(0.1, true) }}
    ACCL: {{ motor.accl | default(0.5, true) }}
    ACCL_MAX: {{ motor.accl_max | default(1.5, true) }}
    ACCL_MIN: {{ motor.accl_min | default(0.01, true) }}
    HAR: {{ motor.har | default(0.5, true) }}
    HVEL: {{ motor.hvel | default(10, true) }}
    JAR: {{ motor.jar | default(1, true) }}
    JVEL: {{ motor.jvel | default(5, true) }}
    EGU: {{ motor.egu | default("rpm", true) }} 
    SLSP: {{ motor.slsp | default(0.8, true) }}
    ENABLED: {{ motor.enabled | default(1, true) }}
    TIMEOUT: 0

entities:
  - type: motorTML.CreateController
    controllerName: "{{devtype}}_001"
    P: "{{iocprefix}}"
    TTY: {{serial.ptty}}
    hostid: {{ motor.hostid | default('', true) }}
  
{%- for mot in devices %}
  - <<: *motor
    axid: {{mot.axid}}
    name: {{mot.name}}
    {%- if mot.nsteps is defined %}
    NSTEPS: {{ mot.nsteps }}
    {%- endif %}
    {%- if mot.nmicrosteps is defined %}
    NMICROSTEPS: {{ mot.nmicrosteps }}
    {%- endif %}
    {%- if mot.velo is defined %}
    VELO: {{ mot.velo }}
    {%- else %}
    VELO: {{ motor.velo | default(200, true) }}
    {%- endif %}
    {%- if mot.pos_max is defined %}
    POS_MAX: {{ mot.pos_max }}
    {%- elif motor.pos_max %}
    POS_MAX: {{ motor.pos_max }}
    {%- endif %}
    {%- if mot.pos_min is defined %}
    POS_MIN: {{ mot.pos_min }}
    {%- elif motor.pos_min is defined %}
    POS_MIN: {{ motor.pos_min }}
    {%- endif %}
    {%- if mot.egu2mm is defined %}
    EGU2MM: {{ mot.egu2mm }}
    {%- elif motor.egu2mm is defined %}
    EGU2MM: {{ motor.egu2mm }}
    {%- endif %}
    {%- if mot.velo_max is defined %}
    VELO_MAX: {{ mot.velo_max }}
    {%- elif motor.velo_max is defined %}
    VELO_MAX: {{ motor.velo_max }}
    {%- endif %}
    {%- if mot.velo_min is defined %}
    VELO_MIN: {{ mot.velo_min }}
    {%- elif motor.velo_min is defined %}
    VELO_MIN: {{ motor.velo_min }}
    {%- endif %}
    {%- if mot.accl is defined %}
    ACCL: {{ mot.accl }}
    {%- elif motor.accl is defined %}
    ACCL: {{ motor.accl }}
    {%- endif %}
    {%- if mot.accl_max is defined %}
    ACCL_MAX: {{ mot.accl_max }}
    {%- elif motor.accl_max is defined %}
    ACCL_MAX: {{ motor.accl_max }}
    {%- endif %}
    {%- if mot.accl_min is defined %}
    ACCL_MIN: {{ mot.accl_min }}
    {%- elif motor.accl_min is defined %}
    ACCL_MIN: {{ motor.accl_min }}
    {%- endif %}
    {%- if mot.har is defined %}
    HAR: {{ mot.har }}
    {%- else %}
    HAR: {{ motor.har | default(1, true) }}
    {%- endif %}
    {%- if mot.hvel is defined %}
    HVEL: {{ mot.hvel }}
    {%- else %}
    HVEL: {{ motor.hvel | default(20, true) }}
    {%- endif %}
    {%- if mot.jar is defined %}
    JAR: {{ mot.jar }}
    {%- else %}
    JAR: {{ motor.jar | default(1, true) }}
    {%- endif %}
    {%- if mot.jvel is defined %}
    JVEL: {{ mot.jvel }}
    {%- else %}
    JVEL: {{ motor.jvel | default(20, true) }}
    {%- endif %}
    {%- if mot.egu is defined %}
    EGU: {{ mot.egu }}
    {%- elif motor.egu is defined %}
    EGU: {{ motor.egu }}
    {%- endif %}
    {%- if mot.slsp is defined %}
    SLSP: {{ mot.slsp }}
    {%- endif %}
    {%- if mot.enabled is defined %}
    ENABLED: {{ mot.enabled }}
    {%- endif %}
    {%- if mot.timeout is defined %}
    TIMEOUT: {{ mot.timeout }}
    {%- endif %}
    
{%- endfor %}
  

{%- endif %}



  - type: epics.StartupCommand
    command: |
      dbLoadRecords("config/poi.db","")

{%- for dev in devices %}

{%- for param in dev.aliases %}
  - type: epics.DbAlias
    name: "{{iocprefix}}:{{iocroot}}:{{param.name}}"
    alias: "{{iocprefix}}:{{iocroot}}:{{param.alias}}"
{%- endfor %}
{%- endfor %}


  - type: epics.PostStartupCommand 
    command: |
  {%- for param in iocinit %}
      dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
      dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}