ioc_name: {{iocname}}
description:  Undulator Control

entities:

- type: kima.KimaUndulatorCreateController
  name: UND01
  IP: {{server}}
  TCPPORT: 502
  P: "{{iocprefix}}"
  R: "{{iocroot}}"
  

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}