ioc_name: {{iocname}}
description:  Tektronics TEMPLATE

entities:

- type: tektronix.{{devtype}}
  name: TEKTRONIX001
  IP: {{server}}
  TCPPORT: {{port |default(4000)}}
  P: "{{iocprefix}}"


{%- for t in devices %}
- type: tektronix.channel
  ctrl: TEKTRONIX001
  channel: {{t.channel}}
  samples: {{t.samples if t.samples is defined else 1000}}
  name: {{t.name}}
  rate: {{t.rate if t.rate is defined else "1 second"}}

- type: epics.DbAlias
  name: "{{iocprefix}}:INTEGRAL_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:INTEGRAL"
- type: epics.DbAlias
  name: "{{iocprefix}}:MATH_INTEGRAL_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:WIN-INTEGRAL"
- type: epics.DbAlias
  name: "{{iocprefix}}:RMS_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:RMS"
- type: epics.DbAlias
  name: "{{iocprefix}}:MATH_RMS_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:WIN-RMS"

- type: epics.DbAlias
  name: "{{iocprefix}}:MEAN_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:MEAN"
- type: epics.DbAlias
  name: "{{iocprefix}}:MATH_MEAN_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:WIN-MEAN"

- type: epics.DbAlias
  name: "{{iocprefix}}:MIN_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:MIN"
- type: epics.DbAlias
  name: "{{iocprefix}}:MATH_MIN_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:WIN-MIN"
- type: epics.DbAlias
  name: "{{iocprefix}}:MAX_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:MAX"
- type: epics.DbAlias
  name: "{{iocprefix}}:MATH_MAX_CH{{t.channel}}"
  alias: "{{iocprefix}}:{{t.name}}:WIN-MAX"
{%- endfor %}

- type: epics.PostStartupCommand 
  command: |
  {%- for param in iocinit %}
  dbpf ("{{iocprefix}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
  dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}