
ioc_name: {{iocname}}
description: sigmaPhiStart 

entities:

  - type: sigmaPhiStart.configure
    controllerName: START
    P: {{iocprefix}}
    IP: {{server}}
    TCPPORT: {{port | default(502) }}

{%- for t in devices %}
  - type: sigmaPhiStart.device
    controller: START
    P: {{t.name}}
    max: {{t.max}}
{%- endfor %}


  - type: epics.PostStartupCommand 
    command: |
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
      dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}