ioc_name: {{iocname}}
description: OCEM template {{devtype}}

entities:
{% if devtype == "modbusps" %}
{%- for alim in devices %}
  - type: ocem.modbusps
    P: "{{iocprefix}}" 
    R: "{{alim.name}}"
    IP: {{alim.ip}}
    IMAX: {{alim.imax | default(100)}}
    VMAX: {{alim.vmax | default(16)}}
    TCPPORT: {{alim.port | default(502)}}
       
{%- endfor %}
{%- endif %}

{% if devtype == "E642" %}
{%- for dev in devices %}

  # Controller entity
  - type: ocem.E642Group
    P: "{{iocprefix}}"
    NAME: "{{dev.name}}"
    IP: {{dev.ip}}
    TCPPORT: {{dev.port | default(502)}}
    NUMSLAVES: {{dev.slaves|length}}
    SLAVELIST: "{{dev.slaves | map(attribute='id') | join(',') }}"

  # Slave entities
  {%- for sl in dev.slaves %}
  - type: ocem.E642
    P: "{{iocprefix}}"
    R: "{{sl.r}}"
    NAME: "{{dev.name}}"
    ADDR: {{sl.id}}
    IMAX: {{dev.imax | default(280)}}
    VMAX: {{dev.vmax | default(40)}}
  {%- endfor %}

{%- endfor %}
{% endif %}

  - type: epics.PostStartupCommand 
    command: |
  {%- for param in iocinit %}
      dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
      dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}
