ioc_name: {{iocname}}
description: OCEM template {{devtype}}

entities:
{% if devtype == "modbusps" %}
{%- for alim in devices %}
  - type: ocem.modbusps
    P: "{{iocprefix}}" 
    R: "{{alim.name}}"
    IP: {{alim.ip}}
    IMAX: {{alim.imax | default(100)}}
    VMAX: {{alim.vmax | default(16)}}
    TCPPORT: {{alim.port | default(502)}}
       
{%- endfor %}
{%- endif %}

{% if devtype == "E642" %}

  # Controller entity
  - type: ocem.E642Group
    P: "{{iocprefix}}"
    NAME: "{{name}}"
    IP: "{{server}}"
    TCPPORT: {{port | default(502)}}
    SLAVELIST: "{{devices | map(attribute='id') | join(',') }}"
    IDLE_POLL_S: {{idle_poll_s | default(1.0)}}
    ACTIVE_POLL_S: {{active_poll_s | default(0.1)}}
    ACTIVE_TIMEOUT_S: {{active_timeout_s | default(5.0)}}
    DEBUG_LEVEL: {{debug_level | default(0)}}

  # Slave entities
  {%- for sl in devices %}
  - type: ocem.E642
    P: "{{iocprefix}}"
    R: "{{sl.name}}"
    NAME: "{{name}}"
    ADDR: {{sl.id}}
    IMAX: {{sl.imax | default(280)}}
    VMAX: {{sl.vmax | default(40)}}
    SET_TOLERANCE: {{sl.set_tolerance | default(1.0)}}
    ZERO_TOLERANCE: {{sl.zero_tolerance | default(1.0)}}
    SET_TIMEOUT_S: {{sl.set_timeout_s | default(10)}}
    CURRENT_THRESHOLD: {{sl.current_threshold | default(1)}}
    VOLTAGE_THRESHOLD: {{sl.voltage_threshold | default(1)}}
    FORCE_STATE_QUERY_S: {{sl.force_state_query_s | default(60)}}
    FORCE_OPERATING_QUERY_S: {{sl.force_operating_query_s | default(60)}}
  {%- endfor %}


{% endif %}

  - type: epics.PostStartupCommand 
    command: |
  {%- for param in iocinit %}
      dbpf ("{{iocprefix}}:{{iocroot}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- for dev in devices %}
  {%- for param in dev.iocinit %}
      dbpf ("{{iocprefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
  {%- endfor %}
  {%- endfor %}
  {%- if iocexit %}
      dbl
      exit
  {%- else %}
      dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
      dbl
  {%- endif %}
